* {
    box-sizing: border-box;
}
  
img {
    max-width: 100%;
}
  
.container {
    width: 96%; 
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Poppins", serif;
}

p{
    font-family: "Inter", serif;
}



body {
  font-family: Arial, sans-serif;
  height: 100vh;
  margin: 0;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
} 


/* --------------------------------- NAVBAR --------------------------------- */

.navimg{
    width: 50px;
    margin-right: 5px;
}

.Easy{
  color: #005478;
}
.Share{
  color: #189ddc;
}



.content {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-grow: 1; 
}





.container-errore {
  width: 640px;
  margin: auto; 
  text-align: center;
  background-color: white; 
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  align-content: center;
   
}


.button-esci {
    width: 300px;
    background-color: #cf1508; 
    color: white; 
    padding: 15px 30px; 
    font-size: 18px; 
    border: none; 
    cursor: pointer; 
    border-radius: 10px; 
    transition: background-color 0.3s ease; 
}

  .messaggio-di-errore {
    color: red;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .logout-link:hover {
    text-decoration: underline;
  }