/* ----------------------------- REGOLE GENERALI ---------------------------- */
* {
    box-sizing: border-box;
}
  
img {
    max-width: 100%;
}
  
.container {
    width: 96%; 
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Poppins", serif;
}

p{
    font-family: "Inter", serif;
}


/* --------------------------------- NAVBAR --------------------------------- */

.navimg{
    width: 50px;
    margin-right: 5px;
}

/* --------------------------------- SECTION -------------------------------- */

#welcome{
    background-color: #007bff;
}

.welcome-img img{
    width: 120px;
    border: 2px solid #005478;
    border-radius: 100px;
    max-width: 100%;
    height: auto;
    display: block;
    height: auto;
    margin: 20px auto;
}

.Easy{
    color: #005478;
}
.Share{
    color: #189ddc;
}

.welcome-text-title {
    text-align: center;
    margin: 20px auto;
}


.welcome-text p {
    color: #f8f9fa;
}

h1{
    color: #f8f9fa;
}

.welcome-img img{
    width: 120px;
    border: 2px solid #005478;
    border-radius: 100px;
    max-width: 100%;
    height: auto;
    display: block;
    height: auto;
    margin: 20px auto;
}

/* ----------------------------- SCHERMI GRANDI ----------------------------- */
@media screen and (min-width:992px) {

    .welcome-img {
        display: flex;
        align-items: center;
    }

    .welcome-text {
        margin: 30px auto;
    }

    .welcome-text-title {
        text-align: left;
    }
}
