<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>EasyShare - Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- ------------------------------- FAVICON ------------------------------- -->
    <link rel="icon" type="image/x-icon" href="/images/EasyShareLogoFavicon.png">
    <!-- ---------------------------- FONT-AWESOME ----------------------------- -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- -------------------------------- FONTS -------------------------------- -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet" />
    <!-- ------------------------------ BOOTSTRAP ------------------------------ -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />

    <!-- ------------------------------ STYLE CSS ------------------------------ -->
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <header> <!-- ------------------------------- NAVBAR -------------------------------- -->
        <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
              aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand d-flex align-items-center" href="homepage.html">
              <img class="navimg" src="images/EasyShareMacchinaQuadrata.png" alt="" srcset="" >
              <h2><span class="Easy">Easy</span><span class="Share">Share</span></h2>
            </a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="pannello.html">Pannello</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#disponibili">Disponibilità</a>
                </li>
              </ul>
              <div class="login-name"></div>
              <button class="btn btn-primary btn-login d-none">Accedi</button>
            </div>
          </div>
        </nav>
    </header> <!-- ----------------------------- FINE NAVBAR ----------------------------- -->

    
<h1 class="pt-5 mt-5 d-block justi" style="color: black">Pannello</h1>


<div class="container mt-5">
  <form action="/pannello"  class="pannello" method="post" enctype="multipart/form-data">
      <div class="mb-3">
          <label for="categoria-veicolo" class="form-label">Categoria Veicolo</label>
          <select id="categoria-veicolo" name="categoria-veicolo" class="form-control" required>
              <option value="macchina">MACCHINA</option>
              <option value="moto">MOTO</option>
              <option value="bicicletta">BICICLETTA</option>
          </select>
      </div>

      <div class="mb-3">
          <label for="marca" class="form-label">Marca</label>
          <input type="text" class="form-control" id="marca" name="marca" required>
      </div>

      <div class="mb-3">
          <label for="modello" class="form-label">Modello</label>
          <input type="text" class="form-control" id="modello" name="modello" required>
      </div>

      <div class="mb-3">
          <label for="descrizione" class="form-label">Descrizione</label>
          <textarea class="form-control" id="descrizione" name="descrizione" required></textarea>
      </div>

      
      <div class="mb-3">
          <label for="alimentazione" class="form-label">Alimentazione</label>
          <input type="text" class="form-control" id="alimentazione" name="alimentazione" required>
      </div>

      <div class="mb-3">
          <label for="indirizzo" class="form-label">Indirizzo</label>
          <input type="text" class="form-control" id="indirizzo" name="indirizzo">
      </div>

      <div class="mb-3">
          <label for="immagine" class="form-label">Upload Immagine</label>
          <input type="file" class="form-control" id="immagine" name="immagine">
      </div>

      

      <button type="submit" class="btn btn-primary">Inserisci Veicolo</button>
  </form>
</div>


</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script src="js/login.js"></script>
<script src="js/common-login.js"></script>
<script src="js/pannello.js"></script>

</html>